base-pkg/main/default/flows/Update_New_Post_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>Is_New_Record</name>
        <label>Is New Record</label>
        <locationX>168</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Not New</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NewRecord</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_New_Fields_Top</targetReference>
            </connector>
            <label>New</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Top</name>
        <label>Is Top</label>
        <locationX>577</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Update_Not_Top</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Top</defaultConnectorLabel>
        <rules>
            <name>Top</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsTop</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Top</targetReference>
            </connector>
            <label>Top</label>
        </rules>
    </decisions>
    <formulas>
        <name>IsTop</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Parent__c} = Null</expression>
    </formulas>
    <formulas>
        <name>MustRemove</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() != True) &amp;&amp; ({!$Record.IsRemoved__c} = True) &amp;&amp; ({!$Record__Prior.IsRemoved__c} = False )</expression>
    </formulas>
    <formulas>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>NewTopRef</name>
        <dataType>String</dataType>
        <expression>IF ( {!$Record.Parent__r.Depth__c} = 0, {!$Record.Parent__c}, {!$Record.Parent__r.Top__c})</expression>
    </formulas>
    <formulas>
        <name>ParentDepthPlusOne</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Parent__r.Depth__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TopicValidation</name>
        <dataType>String</dataType>
        <expression>IF ({!IsTop} = True, IF ({!$Record.Topics__c} == &quot;&quot;, &quot;;&quot;, {!$Record.Topics__c}), &quot;&quot; )</expression>
    </formulas>
    <formulas>
        <name>WasRemoved</name>
        <dataType>Boolean</dataType>
        <expression>(ISNEW() != True) &amp;&amp; ({!$Record__Prior.IsRemoved__c} = True)</expression>
    </formulas>
    <interviewLabel>Update New Post {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update New Post Fields</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_New_Fields_Top</name>
        <label>Update New Fields Top</label>
        <locationX>419</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>Is_Top</targetReference>
        </connector>
        <inputAssignments>
            <field>Child_Comments__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRemoved__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Likes__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Topics__c</field>
            <value>
                <elementReference>TopicValidation</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Not_Top</name>
        <label>Update Not Top</label>
        <locationX>744</locationX>
        <locationY>390</locationY>
        <inputAssignments>
            <field>Depth__c</field>
            <value>
                <elementReference>ParentDepthPlusOne</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Top__c</field>
            <value>
                <elementReference>NewTopRef</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Top</name>
        <label>Update Top</label>
        <locationX>750</locationX>
        <locationY>175</locationY>
        <inputAssignments>
            <field>Depth__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Top__c</field>
            <value>
                <stringValue/>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Is_New_Record</targetReference>
        </connector>
        <object>Forum_Item__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
